{% extends 'Homepage/CustomerHomePage.html' %}


{% block title_name %}
    Customer Change Password Page
 {% endblock %}

{% block content %}

<div>
  <div class="container">
    <h1 style="text-align:center;" class="display-4">Change Your Password</h1>
  </div>
</div>

<div>
<form action="update_your_password" method="post">
{% csrf_token %}
  <div class="form-group row">
    <label for="current_password" class="col-sm-2 col-form-label">Current Password </label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="current_password" name="current_password">
    </div>
  </div>

  <div class="form-group row">
    <label for="new_password" class="col-sm-2 col-form-label">New Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="new_password" name="new_password">
    </div>
  </div>
    <div class="form-group row">
    <label for="confirm_password" class="col-sm-2 col-form-label">Confirm Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="confirm_password" name="confirm_password">
    </div>

   <button class="block" type="submit">Update Your Change</button>
            </h1><br>
            
</form>

 
           
</div>


{% endblock %}