{% extends 'Homepage/AdminHomePage.html' %}

{% block content %}

<div>
  <div class="container">
    <h1 style="text-align:center;" class="display-4">Cancelled Booking</h1>
  </div>
</div>

<div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Reservation_Id</th>
      <th scope="col">Name</th>
      <th scope="col">Gmail</th>
      <th scope="col">Booking_date</th>
      <th scope="col">Checkin_date</th>
      <th scope="col">Checkout_date</th>
      <th scope="col">status</th>
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
  {% for book in booking_info %}
  <tr>
      <th scope="row">{{book.reservation_id}}</th>
      <td>{{book.name}}</td>
      <td>{{book.gmail}}</td>
      <td>{{book.booking_date}}</td>
      <td>{{book.checkin_date}}</td>
      <td>{{book.checkout_date}}</td>
      <td>{{book.status}}</td>

      <td>
      <form action="booking_modify" method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger wrn-btn">Booking Modify</button>
      <input type="hidden" id="{{book.reservation_id}}" name="reservation_id" value="{{book.reservation_id}}">
      </form>
      </td>



  </tr>
  {% endfor %}
    
  </tbody>
</table>
           
</div><br><br>

{% endblock %}