{% extends 'Homepage/AdminHomePage.html' %}

{% block content %}

<div>
  <div class="container">
    <h1 style="text-align:center;" class="display-4">Provide Information for New Room</h1>
  </div>
</div>

<div>
<form style="text-align:center;" action="complete_add_room" method="post">
 {% csrf_token %}

<div>
            <label for="room_type">Room Type</label><br>
            <select id="room_type" name="room_type" class="block">
                <option selected disabled>Select Room Type </option>
                <option value="SINGLE_ROOM" class="block">Single Room</option>
                <option value="DOUBLE_ROOM" class="block">Double Room</option>
                <option value="TRIPLE_ROOM" class="block">Triple Room</option>
                <option value="QUAD_ROOM" class="block">Quad Room</option>
            </select>
            </div>

<div style="text-align:center;">
    <p style="text-align:center;">Building</p>
    <label for="des"></label>
    <input type="text" name="building"  id="des">
</div>
<div style="text-align:center;">
    <p style="text-align:center;">Floor</p>
    <label for="floatformat"></label>
    <input type="number" name="floor" id="floor" aria-describedby="emailHelp">
</div>

<div style="text-align:center;">
 <p style="text-align:center;">Capacity</p>
    <label for="price"></label>
    <input type="number" name="capacity" id="price" aria-describedby="emailHelp">
</div>
<div style="text-align:center;">
 <p style="text-align:center;">Number Of Bed</p>
    <label for="price"></label>
    <input type="number" name="number_of_bed" id="price" aria-describedby="emailHelp">
  </div>
<div style="text-align:center;">
 <p style="text-align:center;">Price</p>
    <label for="price"></label>
    <input type="number" name="price" id="price" aria-describedby="emailHelp">
  </div>
  
 <div style="text-align:center;">
  <p style="text-align:center;">Description</p>
    <label for="des"></label>
    <input type="text" name="description"  id="des" aria-describedby="emailHelp">
  </div><br><br>

  <button type="submit" class="btn btn-primary">COMPLETE ADD ROOM </button>
</form>
 
           
</div>


{% endblock %}