{% extends 'Homepage/CustomerHomePage.html' %}

{% block content %}

<div>
  <div class="container">
    <h1 style="text-align:center;" class="display-4">Booking Details</h1>
  </div>
</div>

<div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Reservation_Id</th>
      <th scope="col">Name</th>
      <th scope="col">Gmail</th>
      <th scope="col">Booking_date</th>
      <th scope="col">Checkin_date</th>
      <th scope="col">Checkout_date</th>
      <th scope="col">Guest_No</th>
    </tr>
  </thead>
  <tbody>
  {% for book in booking_info %}
  <tr>
      <th scope="row">{{book.reservation_id}}</th>
      <td>{{book.name}}</td>
      <td>{{book.gmail}}</td>
      <td>{{book.booking_date}}</td>
      <td>{{book.checkin_date}}</td>
      <td>{{book.checkout_date}}</td>
      <td>{{book.guest_no}}</td>
  </tr>
  {% endfor %}
    
  </tbody>
</table>
           
</div><br><br>



<div>
  <div class="container">
    <h1 style="text-align:center;" class="display-4">Room Details</h1>
  </div>
</div>

<div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Room Type</th>
      <th scope="col">Capacity</th>
      <th scope="col">Number Of bed</th>
      <th scope="col">Price(Perday)</th>
      <th scope="col">Description</th>
      <th scope="col">Building</th>
      <th scope="col">Floor</th>
    </tr>
  </thead>
  <tbody>
  {% for room in room_info %}
  <tr>
      <th scope="row">{{room.room_type}}</th>
      <td>{{room.capacity}}</td>
      <td>{{room.number_of_bed}}</td>
      <td>{{room.price}}</td>
      <td>{{room.description}}</td>
      <td>{{room.building}}</td>
      <td>{{room.floor}}</td>

  </tr>
  {% endfor %}
    
  </tbody>
</table>
           
</div>


<div>
<form action="invoice" method="post">
 {% csrf_token %}
   <button class="block" type="submit">INVOICE</button>

            
</form>



{% endblock %}