{% load static %}

<html>
    <head>

        <title>
            Log In or Sign Up
        </title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    <body>
            <h1>
               <button class="block" type="submit"><a href="{% url 'hotel_review' %}" >HOTEL REVIEWS</a></button>

            </h1>
    

        <h1>Sign In or  <a href="{% url 'signup' %}">Sign Up</a> </h1>


        <form action="submit" method="post">
            {% csrf_token %}
            <h1>Username:
            <label for="username" class="block"></label><br>
            <input type="text" id="username" name="username" class="block"></h1><br>
            <h1>Password:
            <label for="pass"></label><br>
            <input type="password" id="pass" name="pass" class="block"></h1><br>
            <h1>Usertype:
            <label for="usertype"></label><br>
            <select id="usertype" name="usertype" class="block">
                <option selected disabled>Select User Type</option>
                <option value="customer" class="block">Customer</option>
                <option value="admin" class="block">Admin</option>
            </select>
            </h1>

            {% for message in messages %}

                    <h4 style="text-align:center;">
                       
                        {{ message }}

                    <h4>
            {% endfor %}
            <h1>
               <button class="block" type="submit">Submit</button>

            </h1>
        </form>
<p style="text-align:center;"> <a href="{% url 'forgot_password' %}" style="text-color:red;" >Forgot <span style="text-color:green;"> Password ?</span></a></p>
       
    </body>
</html>